body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Source Sans Pro', sans-serif;

}
